Options -Indexes
RewriteEngine On
RewriteBase /adminpanel/

RewriteRule ^mudurlukler$ index.php?sayfa=mudurlukler [NC]
RewriteRule ^meclisuyeleri$ index.php?sayfa=meclisuyeleri [NC]
RewriteRule ^baskanyardimcilari$ index.php?sayfa=baskanyardimcilari [NC]
RewriteRule ^mudurlukler-insert$ index.php?sayfa=mudurlukler-insert [NC]
RewriteRule ^meclisuyeleri-insert$ index.php?sayfa=meclisuyeleri-insert [NC]
RewriteRule ^b_yardimcilari_insert$ index.php?sayfa=b_yardimcilari_insert [NC]
RewriteRule ^mudurlukler-edit/([0-9]+)$ index.php?sayfa=mudurlukler-edit&id=$1 [NC]
RewriteRule ^mudurlukler-delete/([0-9]+)$ index.php?sayfa=mudurlukler-delete&id=$1 [NC]
RewriteRule ^haberler$ index.php?sayfa=haberler [NC]
RewriteRule ^haberler_insert$ index.php?sayfa=haberler_insert [NC]
RewriteRule ^baskanyardimcilari-edit/([0-9]+)$ index.php?sayfa=baskanyardimcilari-edit&id=$1 [NC]
RewriteRule ^baskanyardimcilari-delete/([0-9]+)$ index.php?sayfa=baskanyardimcilari-delete&id=$1 [NC]
RewriteRule ^meclisuyeleri-edit/([0-9]+)$ index.php?sayfa=meclisuyeleri-edit&id=$1 [NC]
RewriteRule ^meclisuyeleri-delete/([0-9]+)$ index.php?sayfa=meclisuyeleri-delete&id=$1 [NC]
RewriteRule ^haberler-edit/([0-9]+)$ index.php?sayfa=haberler-edit&id=$1 [NC]
RewriteRule ^haberler-delete/([0-9]+)$ index.php?sayfa=haberler-delete&id=$1 [NC]
RewriteRule ^duyurular$ index.php?sayfa=duyurular [NC]
RewriteRule ^duyurular-insert$ index.php?sayfa=duyurular-insert [NC]
RewriteRule ^duyurular-edit/([0-9]+)$ index.php?sayfa=duyurular-edit&id=$1 [NC]
RewriteRule ^duyurular-delete/([0-9]+)$ index.php?sayfa=duyurular-delete&id=$1 [NC]
RewriteRule ^login$ login.php [NC]
RewriteRule ^saglamisler$ index.php?sayfa=saglamisler [NC]
RewriteRule ^saglamisler-insert$ index.php?sayfa=saglamisler-insert [NC]
RewriteRule ^saglamisler-edit/([0-9]+)$ index.php?sayfa=saglamisler-edit&id=$1 [NC]
RewriteRule ^saglamisler-delete/([0-9]+)$ index.php?sayfa=saglamisler-delete&id=$1 [NC]
RewriteRule ^hizmetler$ index.php?sayfa=hizmetler [NC]
RewriteRule ^hizmetler-insert$ index.php?sayfa=hizmetler-insert [NC]
RewriteRule ^hizmetler-edit/([0-9]+)$ index.php?sayfa=hizmetler-edit&id=$1 [NC]
RewriteRule ^hizmetler-delete/([0-9]+)$ index.php?sayfa=hizmetler-delete&id=$1 [NC]

